/.quarto/
/.DS_Store/
docs/.DS_Store
.DS_Store
.DS_Store
docs/.DS_Store

/.luarc.json
docs/balpe2025/._.DS_Store
docs/balpe2025/._dessin.svg
docs/balpe2025/._hdrSamSzo.svg
docs/balpe2025/._hdrSamSzo1.svg
